In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [ ]:
vsd= pd.read_csv("C:\\Users\\WIN10\\Desktop\\vgsales.csv")
print(vg.shape)

(16598, 11)

In [ ]:
vsd.iloc[10]

Rank                    11
Name            Nintendogs
Platform                DS
Year                2005.0
Genre           Simulation
Publisher         Nintendo
NA_Sales              9.07
EU_Sales              11.0
JP_Sales              1.93
Other_Sales           2.75
Global_Sales         24.76
Name: 10, dtype: object

In [ ]:
vsd.iloc[2,1]

'Mario Kart Wii'

In [ ]:
vsd.iloc[0:11,0:3]

    Rank                       Name Platform
0      1                 Wii Sports      Wii
1      2          Super Mario Bros.      NES
2      3             Mario Kart Wii      Wii
3      4          Wii Sports Resort      Wii
4      5   Pokemon Red/Pokemon Blue       GB
5      6                     Tetris       GB
6      7      New Super Mario Bros.       DS
7      8                   Wii Play      Wii
8      9  New Super Mario Bros. Wii      Wii
9     10                  Duck Hunt      NES
10    11                 Nintendogs       DS

In [ ]:
vsd.iloc[0:10, [0,1,4]]  #to get rank name and genere, getting from list

   Rank                       Name         Genre
0     1                 Wii Sports        Sports
1     2          Super Mario Bros.      Platform
2     3             Mario Kart Wii        Racing
3     4          Wii Sports Resort        Sports
4     5   Pokemon Red/Pokemon Blue  Role-Playing
5     6                     Tetris        Puzzle
6     7      New Super Mario Bros.      Platform
7     8                   Wii Play          Misc
8     9  New Super Mario Bros. Wii      Platform
9    10                  Duck Hunt       Shooter

In [ ]:
vsd.iloc[0:10, [0,1,-1]]  #to get last elements(short cut)

   Rank                       Name  Global_Sales
0     1                 Wii Sports         82.74
1     2          Super Mario Bros.         40.24
2     3             Mario Kart Wii         35.82
3     4          Wii Sports Resort         33.00
4     5   Pokemon Red/Pokemon Blue         31.37
5     6                     Tetris         30.26
6     7      New Super Mario Bros.         30.01
7     8                   Wii Play         29.02
8     9  New Super Mario Bros. Wii         28.62
9    10                  Duck Hunt         28.31

In [ ]:
#loc() : here we do not use index number instead we use column name
vsd.loc[:10,['Name','Genre','Global_Sales']]

#think why we have iloc[] and loc()

                         Name         Genre  Global_Sales
0                  Wii Sports        Sports         82.74
1           Super Mario Bros.      Platform         40.24
2              Mario Kart Wii        Racing         35.82
3           Wii Sports Resort        Sports         33.00
4    Pokemon Red/Pokemon Blue  Role-Playing         31.37
5                      Tetris        Puzzle         30.26
6       New Super Mario Bros.      Platform         30.01
7                    Wii Play          Misc         29.02
8   New Super Mario Bros. Wii      Platform         28.62
9                   Duck Hunt       Shooter         28.31
10                 Nintendogs    Simulation         24.76

In [ ]:
vsd.columns #prints all the colums

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [ ]:
vsd.loc[:,['Name','Platform', 'Global_Sales']] #pure vertical slicing since no row is cut

                                                   Name Platform  Global_Sales
0                                            Wii Sports      Wii         82.74
1                                     Super Mario Bros.      NES         40.24
2                                        Mario Kart Wii      Wii         35.82
3                                     Wii Sports Resort      Wii         33.00
4                              Pokemon Red/Pokemon Blue       GB         31.37
...                                                 ...      ...           ...
16593                Woody Woodpecker in Crazy Castle 5      GBA          0.01
16594                     Men in Black II: Alien Escape       GC          0.01
16595  SCORE International Baja 1000: The Official Game      PS2          0.01
16596                                        Know How 2       DS          0.01
16597                                  Spirits & Spells      GBA          0.01

[16598 rows x 3 columns]

In [ ]:
#Filtering........................................................................
#Based on some criteria selecting data and considering it as separate data frame..
#When we add the data back to same file, data loss occurs.

In [ ]:
racing_games = vsd.loc[vsd.Genre=='Racing']      #Fltering based on Genre, loc can also be used for filtering
racing_games.head()            #run without head() to get what is head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
11,12,Mario Kart DS,DS,2005.0,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42
28,29,Gran Turismo 3: A-Spec,PS2,2001.0,Racing,Sony Computer Entertainment,6.85,5.09,1.87,1.16,14.98
42,43,Mario Kart 7,3DS,2011.0,Racing,Nintendo,4.74,3.91,2.67,0.89,12.21
47,48,Gran Turismo 4,PS2,2004.0,Racing,Sony Computer Entertainment,3.01,0.01,1.10,7.53,11.66
...,...,...,...,...,...,...,...,...,...,...,...
16530,16533,Sébastien Loeb Rally Evo,XOne,2016.0,Racing,Milestone S.r.l,0.00,0.01,0.00,0.00,0.01
16543,16546,Driving Simulator 2011,PC,2011.0,Racing,NaN,0.00,0.01,0.00,0.00,0.01
16573,16576,Mini Desktop Racing,Wii,2007.0,Racing,Popcorn Arcade,0.01,0.00,0.00,0.00,0.01
16574,16577,Yattaman Wii: BikkuriDokkiri Machine de Mou Ra...,Wii,2008.0,Racing,Takara Tomy,0.00,0.00,0.01,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01

In [ ]:
print(racing_games)

        Rank                                               Name Platform  \
2          3                                     Mario Kart Wii      Wii
11        12                                      Mario Kart DS       DS
28        29                             Gran Turismo 3: A-Spec      PS2
42        43                                       Mario Kart 7      3DS
47        48                                     Gran Turismo 4      PS2
...      ...                                                ...      ...
16530  16533                           Sébastien Loeb Rally Evo     XOne
16543  16546                             Driving Simulator 2011       PC
16573  16576                                Mini Desktop Racing      Wii
16574  16577  Yattaman Wii: BikkuriDokkiri Machine de Mou Ra...      Wii
16595  16598   SCORE International Baja 1000: The Official Game      PS2

         Year   Genre                    Publisher  NA_Sales  EU_Sales  \
2      2008.0  Racing                     Nintendo     15.85     12.88
11     2005.0  Racing                     Nintendo      9.81      7.57
28     2001.0  Racing  Sony Computer Entertainment      6.85      5.09
42     2011.0  Racing                     Nintendo      4.74      3.91
47     2004.0  Racing  Sony Computer Entertainment      3.01      0.01
...       ...     ...                          ...       ...       ...
16530  2016.0  Racing              Milestone S.r.l      0.00      0.01
16543  2011.0  Racing                          NaN      0.00      0.01
16573  2007.0  Racing               Popcorn Arcade      0.01      0.00
16574  2008.0  Racing                  Takara Tomy      0.00      0.00
16595  2008.0  Racing                   Activision      0.00      0.00

       JP_Sales  Other_Sales  Global_Sales
2          3.79         3.31         35.82
11         4.13         1.92         23.42
28         1.87         1.16         14.98
42         2.67         0.89         12.21
47         1.10         7.53         11.66
...         ...          ...           ...
16530      0.00         0.00          0.01
16543      0.00         0.00          0.01
16573      0.00         0.00          0.01
16574      0.01         0.00          0.01
16595      0.00         0.00          0.01

[1249 rows x 11 columns]

In [ ]:
#genere is racing and Global_Sales>25
vsd.dtypes        #just conforming that Global_Sales is float

Rank              int64
Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

In [ ]:
vsd.loc[(vsd.Genre == "Racing") & (vsd.Global_Sales >10.0)]   #checking multiple condition 'and' not work in pandas

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
11,12,Mario Kart DS,DS,2005.0,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42
28,29,Gran Turismo 3: A-Spec,PS2,2001.0,Racing,Sony Computer Entertainment,6.85,5.09,1.87,1.16,14.98
42,43,Mario Kart 7,3DS,2011.0,Racing,Nintendo,4.74,3.91,2.67,0.89,12.21
47,48,Gran Turismo 4,PS2,2004.0,Racing,Sony Computer Entertainment,3.01,0.01,1.10,7.53,11.66
52,53,Gran Turismo,PS,1997.0,Racing,Sony Computer Entertainment,4.02,3.87,2.54,0.52,10.95
54,55,Gran Turismo 5,PS3,2010.0,Racing,Sony Computer Entertainment,2.96,4.88,0.81,2.12,10.77

In [ ]:
#Genre to be racing or action but Global_Sales 10
temp= vsd.loc[(vsd.Genre == "Racing") | (vsd.Genre == "Action") & (vsd.Global_Sales > 10.0)] 
temp

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
11,12,Mario Kart DS,DS,2005.0,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42
16,17,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
17,18,Grand Theft Auto: San Andreas,PS2,2004.0,Action,Take-Two Interactive,9.43,0.40,0.41,10.57,20.81
23,24,Grand Theft Auto V,X360,2013.0,Action,Take-Two Interactive,9.63,5.31,0.06,1.38,16.38
...,...,...,...,...,...,...,...,...,...,...,...
16530,16533,Sébastien Loeb Rally Evo,XOne,2016.0,Racing,Milestone S.r.l,0.00,0.01,0.00,0.00,0.01
16543,16546,Driving Simulator 2011,PC,2011.0,Racing,NaN,0.00,0.01,0.00,0.00,0.01
16573,16576,Mini Desktop Racing,Wii,2007.0,Racing,Popcorn Arcade,0.01,0.00,0.00,0.00,0.01
16574,16577,Yattaman Wii: BikkuriDokkiri Machine de Mou Ra...,Wii,2008.0,Racing,Takara Tomy,0.00,0.00,0.01,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01

In [ ]:
temp.loc[16595,['Global_Sales']]

Global_Sales    0.01
Name: 16595, dtype: object

In [ ]:
rvsd = pd.read_csv("C:\\Users\\WIN10\\Desktop\\dato.csv")
rvsd.shape

(7112, 10)

In [ ]:
#vs genr  Racing Global sale > 10.0
#rvsd.loc[(rvsd.Genre == "Racing")  & (rvsd.Global_Sales > 10.0)]  -error
rvsd.dtypes #Global_Sales is object

Platform              object
Genre                 object
Publisher             object
NA_Sales              object
EU_Sales              object
JP_Sales              object
Other_Sales           object
Global_Sales          object
Rating                object
Critic_Score_Class    object
dtype: object

In [ ]:
vsd['Global_Sales'] = vsd['Global_Sales'].astype('int64')
vsd.dtypes
#converstion from one form to other used in data cleaning etc

Rank              int64
Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales      int64
dtype: object

In [ ]:
new_vsd = vsd.loc[vsd.Global_Sales.notnull()]   #Finds the row with null value in Global_Sales
new_vsd

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0

In [ ]:
vsd['Global_Sales'].describe()      #describe()

count    16598.000000
mean         0.294011
std          1.502528
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         82.000000
Name: Global_Sales, dtype: float64

In [ ]:
rvsd['Rating'].describe()        #for string

count     7112
unique       7
top          T
freq      2489
Name: Rating, dtype: object

In [ ]:
rvsd['Rating'].unique()      # unique(): displays all unique data

array(['E', 'M', 'T', 'AO', 'K-A', 'RP'], dtype=object)

In [ ]:
#E10+ is typo error, we can replace it:
rvsd['Rating'] = rvsd['Rating'].replace('E10+','E')

In [ ]:
rvsd.columns

Index(['Platform', 'Genre', 'Publisher', 'NA_Sales', 'EU_Sales', 'JP_Sales',
       'Other_Sales', 'Global_Sales', 'Rating', 'Critic_Score_Class'],
      dtype='object')

In [ ]:
rvsd.dtypes

Platform              object
Genre                 object
Publisher             object
NA_Sales              object
EU_Sales              object
JP_Sales              object
Other_Sales           object
Global_Sales          object
Rating                object
Critic_Score_Class    object
dtype: object

In [3]:
#The name should have 'car' in it

namecar = vsd.loc[vsd['Name'].str.contains('Car',case=False)]    #by default case sensitive ue case=false
namecar

NameError: name 'vsd' is not defined